body {
        background-color: cadetblue;
}

li {
        background-color: hotpink;
}

h2 {
        color: white;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer  {
        background-color: cornsilk;
}